### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Local Properties / Configurations ###
src/main/resources/application-dev.yml
src/main/resources/firebase-admin-sdk.json
.env
versions.txt

### Build Directory ###
target/